<!DOCTYPE html>
<html>
<head>
    <title>Mini Vanilla Bot</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <table border="1">
            <tr>
                <th>Channel</th>
                <th>Queue</th>
                <th>Queue (complete)</th>
                <th>Live</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td><a href="https://twitch.tv/<%= r.channel %>"><%= r.channel %></a></td>
                    <td><%= r.queue %></td>
                    <td><%= r.complete %></td>
                    <td><%= r.live %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>
